html {
  /* overflow: hidden; */
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 78px;
  text-align: center;
  margin: 0;
}

.new {
  display: flex;
  justify-content: center;
}

#boards {
  /* Contains 2 boards */
  display: flex;
  gap: 50px;
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prompt-container {
  width: 300px;
  height: 462px;
}
.radio-wrapper {
  width: 100%;
  text-align: center;
  height: 60px;
}
.log-container {
  margin-top: 30px;
  background: #ffbcbc;
  border: 5px solid #ff3131;
  border-radius: 24px;
  height: 100px;
}

.log-wrapper {
  padding: 10px 20px;
}

@media (max-width: 1000px) {
  #boards {
    flex-direction: column;
  }
}

button {
  width: 200px;
  height: 80px;
  background: #3944a8;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}
button:hover {
  background: #505bc0;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 462px;
  height: 462px;
  font-size: 30px;
  text-align: center;
}

#firstGameBoard div,
#secondGameBoard div,
#backOfFirst div,
#backOfSecond div {
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}

#firstGameBoard div {
  background: #0aa874; /* Old browsers */
}

#secondGameBoard div {
  background: #8a95ff; /* Old browsers */
}
#backOfFirst div {
  background: #0aa874; /* Old browsers */
}

#backOfSecond div {
  background: #8a95ff; /* Old browsers */
}
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
.hit {
  background: red;
}

.hit{
	background: red !important;
}

.carrier{
	background: red !important;
}

.battleship{
	background: black !important;
}

.cruiser{
	background: blue !important;
}

.submarine{
	background: orange !important;
}

.destroyer{
	background: purple !important;
}

